In [1]:
import os
import pandas as pd
import chardet
import numpy as np
import math
import random
from datetime import datetime
formatted_date=datetime.today().strftime("%m%d%y")
base_directory = r"C:\Users\razza\ConnTextUL_data\data\fiction_counts.csv"
data=pd.read_csv(base_directory)

In [3]:
coca=data
coca['word'] = coca['word'].str.lower()
coca['word'] = coca['word'].str.replace(r'[^a-zA-Z\s]', '', regex=True)
coca

               word  freq
0            amalfi    33
1          currents   605
2            surcos     2
3           smurfie     1
4            friges     1
...             ...   ...
359625       peplos     1
359626     resideth     1
359627        rogue   329
359628    litigator    39
359629  poppasquash     2

[359630 rows x 2 columns]

In [4]:
word_frequency_coca=coca
word_frequency_coca.columns = ['unique_words', 'frequency']
word_frequency_coca

       unique_words  frequency
0            amalfi         33
1          currents        605
2            surcos          2
3           smurfie          1
4            friges          1
...             ...        ...
359625       peplos          1
359626     resideth          1
359627        rogue        329
359628    litigator         39
359629  poppasquash          2

[359630 rows x 2 columns]

In [5]:
# Calculate the total word count
total_word_count = word_frequency_coca['frequency'].sum()
# Calculate the average per million value
word_frequency_coca['average_per_million'] = (word_frequency_coca['frequency'] / total_word_count) * 1e6
# Calculate the total "average_per_million" value
total_average_per_million = word_frequency_coca['average_per_million'].sum()
# Calculate the sampling probability based on "average_per_million"
word_frequency_coca['sampling_probability_per_million'] = word_frequency_coca['average_per_million'] / total_average_per_million
# Calculate the sampling probability 
word_frequency_coca['sampling_probability'] = word_frequency_coca['frequency'] / total_word_count
# Display the new DataFrame with the sampling probability
print(word_frequency_coca)

       unique_words  frequency  average_per_million  \
0            amalfi         33             0.329773
1          currents        605             6.045842
2            surcos          2             0.019986
3           smurfie          1             0.009993
4            friges          1             0.009993
...             ...        ...                  ...
359625       peplos          1             0.009993
359626     resideth          1             0.009993
359627        rogue        329             3.287739
359628    litigator         39             0.389732
359629  poppasquash          2             0.019986

        sampling_probability_per_million  sampling_probability
0                           3.297732e-07          3.297732e-07
1                           6.045842e-06          6.045842e-06
2                           1.998625e-08          1.998625e-08
3                           9.993127e-09          9.993127e-09
4                           9.993127e-09          9.993127e-09
...                                  ...                   ...
359625                      9.993127e-09          9.993127e-09
359626                      9.993127e-09          9.993127e-09
359627                      3.287739e-06          3.287739e-06
359628                      3.897319e-07          3.897319e-07
359629                      1.998625e-08          1.998625e-08

[359630 rows x 5 columns]

In [7]:
final_datafile='probabilities_coca_'+formatted_date+'.csv'
word_frequency_coca.to_csv(final_datafile, encoding='utf-8',index=False)

In [29]:
def create_file(filename, rows , words,probab):
    file_name=filename
    rows=rows
    words=words
    probs=probab
    scaling_factor= rows/len(words)
    remainder = rows - math.floor(scaling_factor)
    with open(file_name, 'w') as file:
        for i in range(math.floor(scaling_factor)):
            word=random.choices(words,weights=probs)
            file.write(str(word[0]) + '\n')
        for r in range(remainder):
            word_r=random.choices(words,weights=probs)
            file.write(str(word_r[0]) + '\n')

In [ ]:
#100k
rows=100000
file_name='COCA_'+str(rows)+'_'+formatted_date+'.csv'
words=word_frequency_coca['unique_words']
probabilities=word_frequency_coca['sampling_probability']
create_file(file_name,rows,words,probabilities)

In [ ]:
#200k
rows=200000
file_name='COCA_'+str(rows)+'_'+formatted_date+'.csv'
words=word_frequency_coca['unique_words']
probabilities=word_frequency_coca['sampling_probability']
create_file(file_name,rows,words,probabilities)

In [ ]:
#300k
rows=300000
file_name='COCA_'+str(rows)+'_'+formatted_date+'.csv'
words=word_frequency_coca['unique_words']
probabilities=word_frequency_coca['sampling_probability']
create_file(file_name,rows,words,probabilities)

In [ ]:
#400k
rows=400000
file_name='COCA_'+str(rows)+'_'+formatted_date+'.csv'
words=word_frequency_coca['unique_words']
probabilities=word_frequency_coca['sampling_probability']
create_file(file_name,rows,words,probabilities)

In [ ]:
#500k
rows=500000
file_name='COCA_'+str(rows)+'_'+formatted_date+'.csv'
words=word_frequency_coca['unique_words']
probabilities=word_frequency_coca['sampling_probability']
create_file(file_name,rows,words,probabilities)

In [ ]:
#600k
rows=600000
file_name='COCA_'+str(rows)+'_'+formatted_date+'.csv'
words=word_frequency_coca['unique_words']
probabilities=word_frequency_coca['sampling_probability']
create_file(file_name,rows,words,probabilities)

In [ ]:
#700k
rows=700000
file_name='COCA_'+str(rows)+'_'+formatted_date+'.csv'
words=word_frequency_coca['unique_words']
probabilities=word_frequency_coca['sampling_probability']
create_file(file_name,rows,words,probabilities)

In [ ]:
#800k
rows=800000
file_name='COCA_'+str(rows)+'_'+formatted_date+'.csv'
words=word_frequency_coca['unique_words']
probabilities=word_frequency_coca['sampling_probability']
create_file(file_name,rows,words,probabilities)

In [ ]:
#900k
rows=900000
file_name='COCA_'+str(rows)+'_'+formatted_date+'.csv'
words=word_frequency_coca['unique_words']
probabilities=word_frequency_coca['sampling_probability']
create_file(file_name,rows,words,probabilities)

In [ ]:
#1M
rows=1000000
file_name='COCA_'+str(rows)+'_'+formatted_date+'.csv'
words=word_frequency_coca['unique_words']
probabilities=word_frequency_coca['sampling_probability']
create_file(file_name,rows,words,probabilities)