In [4]:
import os
import pandas as pd
import chardet
import numpy as np
import math
import random
from datetime import datetime
formatted_date=datetime.today().strftime("%m%d%y")
base_directory = r"C:\Users\razza\ConnTextUL_data\scripts\probabilities.csv"
data=pd.read_csv(base_directory)

In [2]:
max_number_rows=44720
total_sampling_prob = data['sampling_probability'].sum()
data['estimated_frequency_new_data'] = (data['sampling_probability']) * (max_number_rows / total_sampling_prob)
data['rounded_frequency'] = data['estimated_frequency_new_data'].apply(math.ceil)
data

,unique_words,frequency_tasa,frequency_tidy,combined_frequency,average_per_million,sampling_probability_per_million,sampling_probability,estimated_frequency_new_data,rounded_frequency
0,a,64863.0,5373.0,70236.0,27710.444087,2.771044e-02,2.771044e-02,1239.211060,1240
1,aaron,9.0,0.0,9.0,3.550800,3.550800e-06,3.550800e-06,0.158792,1
2,ab,0.0,0.0,0.0,0.000000,0.000000e+00,0.000000e+00,0.000000,0
3,abandon,0.0,1.0,1.0,0.394533,3.945333e-07,3.945333e-07,0.017644,1
4,abandoned,5.0,0.0,5.0,1.972667,1.972667e-06,1.972667e-06,0.088218,1
...,...,...,...,...,...,...,...,...,...
18767,zoom,20.0,13.0,33.0,13.019600,1.301960e-05,1.301960e-05,0.582237,1
18768,zoos,3.0,0.0,3.0,1.183600,1.183600e-06,1.183600e-06,0.052931,1
18769,zucchini,3.0,0.0,3.0,1.183600,1.183600e-06,1.183600e-06,0.052931,1
18770,zuni,3.0,0.0,3.0,1.183600,1.183600e-06,1.183600e-06,0.052931,1
18771,zygote,0.0,0.0,0.0,0.000000,0.000000e+00,0.000000e+00,0.000000,0

In [3]:
data= pd.DataFrame(data)

# Create a new dataframe repeating words based on their estimated frequencies
final_data = pd.DataFrame({
    'words': data['unique_words'].repeat(data['rounded_frequency'].astype(int))
})
if len(final_data) > max_number_rows:
    final_data = final_data.sample(n=max_number_rows, random_state=1)
# Resetting the index of the new dataframe
final_data.reset_index(drop=True, inplace=True)
final_data

           words
0          would
1           vary
2          clear
3             my
4        thought
...          ...
44715     opened
44716       felt
44717  glittered
44718        the
44719          a

[44720 rows x 1 columns]

In [4]:
final_datafile='kidwords_probability_sampled_'+formatted_date+'.csv'
final_data.to_csv(final_datafile, encoding='utf-8',index=False)

In [5]:
def create_file(filename, rows , words,probab):
    file_name=filename
    rows=rows
    words=words
    probs=probab
    scaling_factor= rows/len(words)
    remainder = rows - math.floor(scaling_factor)
    with open(file_name, 'w') as file:
        for i in range(math.floor(scaling_factor)):
            word=random.choices(words,weights=probs)
            file.write(str(word[0]) + '\n')
        for r in range(remainder):
            word_r=random.choices(words,weights=probs)
            file.write(str(word_r[0]) + '\n')

In [6]:
#44k
rows=44720
file_name='kidwords_'+str(rows)+'_'+formatted_date+'.csv'
words=data['unique_words']
probabilities=data['sampling_probability']
create_file(file_name,rows,words,probabilities)